body {
    background-image: url('./../imagens/selvas-plantas.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

main {
    min-height: 80vh; 
    margin-left: 40px;
    display: fixed;
    justify-content: center;
    align-items: center;
    height: auto;
    color: white;
    margin-top: 20px;
}

.form-content {
    background-color: rgba(0, 0, 0, 0.5);  
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.consumo {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
}

button[type="submit"] {
    background-color: #00cc66;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

input[type="number"], input[type="text"], select {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #ffffff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button img {
    width: 50px;
    height: 50px;
}

button p {
    margin-top: 5px;
}

button.ativo {
    background-color: #00cc66;
}

.navbar {
    background-color: black;
    font-size: 20px;
}

.navbar-brand,
.nav-link {
    color: white !important;
    margin-left: 20px;
}

.nav-link:hover {
    color: #d1e7dd !important;
}

.Vd {
    color: green;
}
