/* Textos */
.titulo {
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

h2 {
  color: white;
}
.navbar {
  background-color: black;
  font-size: 20px;
}

.navbar-brand,
.nav-link {
  color: white !important;
  margin-left: 20px;
}

.nav-link:hover {
  color: #d1e7dd !important;
}
.Vd {
  color: green;
}
body {
  background-image: url('./../imagens/selvas-plantas.PNG');
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Kurale", serif;
  overflow-y: auto;
  overflow: hidden;
}

.navbar {
  background-color: black;
  font-size: 20px;
}
.navbar-brand,
.nav-link {
  color: white !important;
  margin-left: 20px;
}
.nav-link:hover {
  color: #d1e7dd !important;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
  min-height: 100vh;
}

label {
  color: white;
}

.transporte-individual {
  background-color: #292929;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  color: white;
}

.escolha-veiculo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
  min-width: 150px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

button p {
  margin-top: 5px;
}

button.ativo {
  background-color: #1c7847;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

input[type="number"], select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
}

button[type="submit"] {
  background-color: #037d66;
  padding: 10px;
  border-radius: 5px;
  color: white;
  width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
  .escolha-veiculo {
    flex-direction: column;
    align-items: center;
  }

  body {
      overflow: auto;
  }

  button {
    width: 90%;
    max-width: 300px;
    margin: 10px 0;
  }

  button p {
    font-size: 1rem; /* Ajusta o tamanho do texto dos botões */
  }

  .transporte-individual {
    width: 95%;
  }

  input[type="number"], select, button[type="submit"] {
    font-size: 1rem; /* Tamanhos de fontes ajustados para melhor legibilidade */
    padding: 12px; /* Aumenta o espaçamento interno dos campos e botões */
  }
}
